# Ignoring PyCache
__pycache__/
*.pyc
*.egg-info/
.env

# Ignoring genus files
.genus
credentials.json
drive_token.json

# Ignoring VS Code workspace files and virtual environment
.venv/
genus_web.code-workspace

# Ignoring whitenoise static folders
staticfiles

# Notes and plans
notes/