# Main Libraries
django
fastapi

# Server Libraries
uvicorn

# AI LIbraries
google-genai

# Side Libraries
dotenv
colorama
whitenoise
pydantic

# Database Libraries
dj_database_url
psycopg2

# Testing Libraries
pytest
pytest-django
httpx